<%- include("navbar.ejs") %>

<div class="container card card-body">
    <h4>Edit Category</h4>
    <form action="/admin/update_category/<%- category.category_id %>" method="post">
        <div class="form-group">
            <label for="category_name">Category Name</label>
            <input type="text" id="category_name" name="category_name" class="form-control" value="<%- category.category_name %>" required>
        </div>

        <div class="form-group">
            <label for="category_details">Category Details</label>
            <textarea id="category_details" name="category_details" class="form-control" required><%- category.category_details %></textarea>
        </div>
<br><br>
        <button type="submit" class="btn btn-success">Update Category</button>
        <a href="/admin/category_list" class="btn btn-secondary">Cancel</a>
    </form>
</div>

<%- include("footer.ejs") %>
